.stroke > span {
  position: relative;
}

.stroke > span::before {
  z-index: -1;
  color: #111111;
  /* font-size: inherit; */
  font-size: calc(1em + 4px);
  position: absolute;
  content: attr(data-char);
  text-shadow: 0px 0px 1px hsl(var(--palette-50));
}
