.orbit-ring {
  @apply w-full aspect-square rounded-full relative flex pointer-events-none;
}

.orbit-ring::before {
  @apply absolute size-full rounded-full pointer-events-none inset-0;
  background: conic-gradient(
      rgba(109, 46, 255, 0) 6.7%,
      hsl(var(--palette-500) / 35%) 20.8%,
      hsl(var(--palette-600) / 70%) 34.9%,
      hsl(var(--palette-700)) 49.99%,
      rgba(255, 189, 122, 0) 50%
    ),
    hsl(var(--foreground) / 20%);
  content: '';
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  padding: 2px;
}
